<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:if="${categories != null}">
        <div>
            <div id="content">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Options</th>
                    </tr>
                    <tr th:each="category: ${categories}">
                        <td th:text="*{category.getName()}"></td>
                        <td>
                            <form th:action="@{/category_edition}" method="post">
                                <input type="hidden" th:value="${category.getId()}" name="category_id"/>
                                <input type="submit" value="Edit">
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/delete_category}" method="post">
                                <input type="hidden" th:value="${category.getId()}" name="category_id"/>
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </span>
<div>
    <form th:action="@{/add_category}" th:object="${new_category}" method="post">
        <p>Name: <input type="text" required th:field="*{name}" placeholder="Category name"></p>
        <p><input type="submit" value="Add category"/>
    </form>
</div>

</body>
</html>
