<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <span th:if="${products != null}">
        <div>
            <div id="content">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                    </tr>
                    <tr th:each="product: ${products}">
                        <td th:text="*{product.getName()}"></td>
                        <td th:text="*{product.getPrice()}"></td>
                        <td th:text="*{product.getProductCategory()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </span>

</body>
</html>
