<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SpringShopJPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/login">Log in</a>
            <a class="nav-item nav-link active" href="/create_user">Register</a>
        </div>
    </div>
</nav>

    <span th:if="${products != null}">
        <div>
            <div id="content">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                    </tr>
                    <tr th:each="product: ${products}">
                        <td th:text="*{product.getName()}"></td>
                        <td th:text="*{product.getPrice()}"></td>
                        <td th:text="*{product.getProductCategory().getName()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </span>

</body>
</html>
